<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Mentor Funding - About</title>
    <!--Firebase-->
    <script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
    <!--JS-->
    <script src="../javascripts/about.js"></script>
    <!--CSS file-->
    <link href="../stylesheets/about.css" rel="stylesheet" type="text/css">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!--Menu Bar at top-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="row">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header col-md-3">
      <!--POTENTIALLY NOTNEEDED<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>-->
      <a href="../index.html"><img src="../images/MentorFundingLogo.png"></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="col-md-7">
      <ul class="nav navbar-nav">
        <li><a href="./views/personalInformation.html"><h4 style="margin-right:30px; margin-left:50px; color:gray;"><strong>Refinance Student Loans</strong></h4></a></li>
        <li><a href="./views/mentorship.html"><h4 style="margin-right:30px; color:gray;"><strong>Mentorship</strong></h4></a></li>
        <li><a href="#"><h4 style="margin-right:30px; color:gray;"><strong>Eligibility</strong></h4></a></li>
        <li><a href="#"><h4 style="margin-right:30px; color:gray;"><strong>Help</strong></h4></a></li>
        <li><a href="./views/about.html"><h4 style="color:gray;"><strong>About Us</strong></h4></a></li>
      </ul> 
    </div><!-- /.navbar-collapse -->
    <div class="col-md-2">
      <div class="navbar-form navbar-right">
        <button id="signIn">Sign In</button>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</nav>

<!--Title-->
<div class="row">
  <div class="col-md-12" id="title">About Us</div>
</div>
<div class="row" style="background-color:#f8f8f8; height:50px;"></div>
<!--middle portion-->
<div class="row">
  <!--Main Text-->
  <div class="col-md-7" id="mainText">
    <h1>Converting student debt from a burden to a benefit</h1>
    <h3>Student debt has a profound impact on the daily lives of many young Americans, preventing individuals from buying a home, starting a family, and saving for retirement and other investments. Student loan debt is stagnating the growth of young adults, however, refinancing student debt can change this, avoiding the unreasonable delay of significant life goals and purposes.</h3>
    <h3 style="padding-bottom:50px;">Mentor Fundings platform provides secure student loan refinancing; coupling low interest rates and flexible repayment terms with unmatched career progression mentorship.</h3>
    <div style="border-left:solid #1F497D 1px; padding-left:50px;">
      <h3>Mentor Fundings mission is to become the best-in-class student loan refinancing and career mentorship service in the development of data-driven solutions to alleviate the burdens of debt, improve professional success, and facilitate financial independence.</h3>
    </div>
    <h1 style="padding-top:50px;">Our goals are to:</h1>
    <ul>
      <li><h3>Alleviate the burdens of student debt, which are stagnating the growth of many young Americans, and postponing major life accomplishments;</h3></li>
      <li><h3>Provide career-progression and development mentorship to young professionals from trusted, connected sources vested in their success;</h3></li>
      <li><h3>Enable individuals to earn greater returns, increase savings, and eliminate periodic expenditures;</h3></li>
      <li><h3>Help you declare your financial freedom!</h3></li>
    </ul>
  </div>
  <!--Stats-->
  <div class="col-md-4" id="stats">
    <h1 class="noPM"><strong>WHY REFINANCE?</strong></h1>
    <h1 class="noPM" style="padding-bottom:20px;"><strong>WHY NOW?</strong></h1>
    <img src="../images/first_stat.png">
    <h4 class="statsText">Student loan refinancing could help you take advantage of your decreased credit risk by locking in  a lower interest rate.</h4>
    <img src="../images/second_stat.png">
    <h4 class="statsText">Refinancing your student loans can lower your monthly payments; ideal for grads who do not qualify for income-based repayment but do not make enough money yet to comfortably make their student loan payments.</h4>
    <img src="../images/third_stat.png">
    <h4 class="statsText">Student loan refinancing allows you to consolidate your multiple student loans into one monthly payment, making repayment easier to organize, track, and repay.</h4>
    <img src="../images/fourth_stat.png">
    <h4 class="statsText">Refinancing provides you with the opportunity to switch to a new financial servicer provider that cares truly cares about you and has your best interest at heart. A service like Mentor Funding!</h4>
  </div>
</div>
<div style="height:70px;"></div>
<!--Footer-->
<div class="row" style="background-color:#1F497D; color:white; padding-top:20px !important;">
  <div style="margin-left:20px !important; float:left;"class="col-md-12">
    <h3 style="text-align:left; display:inline-block;"><img src="../images/Copyright.png" width="25px" height="25px" style="margin-bottom:5px;">2016 Mentor Funding, LLC | All Rights Reserved</h3>
    <div style="margin-right:20px !important;display:inline-block; float:right;">
      <img src="../images/Facebook.png" class="connect_image"><img src="../images/LinkedIn.png" class="connect_image"><img src="../images/Twitter.png" class="connect_image"> 
    </div>
  </div>
</div>

</body>

</html>


