body{
  margin:0px;
  padding:0px;
  color:black;
  height:100%;
  background-color:#f8f8f8 !important;
}
.container{
  width:100% !important;
  margin:0px !important;
  padding:0px !important;
  float:left;
}
.row{
  width:100% !important;
  margin: 0px !important;
  padding:0px !important;
}
#header{
  background-color:#f8f8f8;
  margin:0px;
  padding:0px;
  width:100%;
  height:60px;
}
.navbar-nav{
  width:100%;
}
.navbar-form.navbar-right{
  float:right;
  height:100%;
  width:100%;
  margin:5px;
  padding:0px;
}
.navbar-nav li:hover{
  background-color:darkgray;
}
button{
  float:right;
  width:100%;
  height:60px;
  border-radius:0px;
  background-color:#1F497D;
  color:white !important;
  font-size:35px !important;
}
/* ^^^^ BASICS NEEDED TO GET DIVS TO STRETCH TO WHOLE PAGE, STACK UP EVENLY, NAVBAR, MISC...*/
#title{
  background-color:#1F497D;
  width:100%;
  height:250px;
  color:white;
  font-weight:bold;
  text-align:center;
  padding-top:125px;
  font-size:45px;
}
#mainText{
  color:#1F497D;
  padding-left:20px;
  padding-bottom:40px;
}
#stats{
  padding-top:30px;
  padding-bottom:50px;
  background-color:gray;
  float:right;
  color:#1F497D;
  text-align:center;
}
.statsText{
  color:yellow;
  font-weight:bold;
}
.connect_image{
  height:75px;
  width:75px;
  text-align:right;
  margin-bottom:5px;
}
.bottom_text{
  margin-bottom:20px;
  font-size:25px;
}
.noPM{
  margin:0px;
  padding:0px;
}
