body{
  margin:0px;
  padding:0px;
  color:black !important;
  height:100% !important;
  background-color:lightgray;
}
.container{
  width:100% !important;
  margin:0px !important;
  padding:0px !important;
  float:left;
}
.row{
  width:100% !important;
  margin: 0px !important;
  padding:0px !important;
  height: 100% !important;
}
#header{
  background-color:lightgray;
  margin:0px;
  padding:0px;
  width:100%;
  height:60px;
}
.navbar-nav{
  width:100%;
}
.navbar-form.navbar-right{
  float:right;
  height:100%;
  width:100%;
  margin:5px;
  padding:0px;
}
.navbar-nav li:hover{
  background-color:darkgray;
}
button{
  float:right;
  width:100%;
  height:60px;
  border-radius:0px;
  background-color:#1F497D;
  color:white !important;
  font-size:35px !important;
}
#helpText{
  font-size:25px;
  color:gray;
  font-weight:bold;
  padding-left:60px;
  float:right;
}
/* ^^^^ BASICS NEEDED TO GET DIVS TO STRETCH TO WHOLE PAGE, STACK UP EVENLY, NAVBAR, MISC...*/

.headers{
  border-left: 1px solid #1F497D;
  border-right: 1px solid #1F497D;
  border-bottom: 1px solid #1F497D;
  box-shadow: 0px 0px 2px;
}
.headerText{
  color:gray;
  margin-left:20px !important;
  margin-right:20px !important;
  margin-bottom:10px !important;
}
#headersActive{
  border-left: 1px solid #1F497D;
  border-right: 1px solid #1F497D;
  border-bottom: 1px solid #1F497D;
  box-shadow: 0px 0px 6px;
  background-color: #1F497D;
}
#headerTextActive{
  color:white;
  margin-left:20px !important;
  margin-right:20px !important;
  margin-bottom:10px !important;
}
#cover{
  padding-top:200px;
  padding-bottom:50px;
  padding-left:200px;
  padding-right:300px;
  background-color:lightgray;
}
.noMP{
  margin:0px;
  padding:0px;
}
#personalStatement{
  border:solid yellow 4px;
  background-color:white;
  padding:80px;
  font-size:22px;
}
#connect{
  border:solid yellow 4px;
  background-color:white;
  padding:50px;
}
#resume{
  border:solid yellow 4px;
  background-color:white;
  padding:50px;
}
#info{
  border:solid yellow 4px;
  background-color:white;
  padding:80px;
  padding-right:120px;
}


